In [1]:
from spacy.lang.en.stop_words import STOP_WORDS
import spacy

In [2]:
st_word = STOP_WORDS

In [3]:
len(st_word)

326

In [4]:
nlp = spacy.load('en_core_web_sm')

In [5]:
text = "Virat Kohli is an Indian international cricketer who plays Test and ODI cricket for the Indian national team. A former captain in all formats of the game, Kohli retired from the T20I format following India's win at the 2024 T20 World Cup."
word = nlp(text)

In [6]:
stop_word = []
for i in word:
    if i.is_stop:
        stop_word.append(i)

In [7]:
stop_word

[is,
 an,
 who,
 and,
 for,
 the,
 A,
 former,
 in,
 all,
 of,
 the,
 from,
 the,
 's,
 at,
 the]

In [8]:
def preprocess(text):
    word = nlp(text)
    final_token = [i.text for i in word if not i.is_stop if not i.is_punct]
    return " ".join(final_token)

In [9]:
preprocess(text)

'Virat Kohli Indian international cricketer plays Test ODI cricket Indian national team captain formats game Kohli retired T20I format following India win 2024 T20 World Cup'

In [10]:
import pandas as pd

In [11]:
df = pd.read_json(r"C:\Users\KIRUBA\Downloads\combined.json\combined.json", lines= True)

In [12]:
df.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [13]:
df.shape

(13087, 6)

In [14]:
print(df['topics'][0])

[]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13087 entries, 0 to 13086
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          12810 non-null  object
 1   title       13087 non-null  object
 2   contents    13087 non-null  object
 3   date        13087 non-null  object
 4   topics      13087 non-null  object
 5   components  13087 non-null  object
dtypes: object(6)
memory usage: 613.6+ KB

In [16]:
df1 = df[df['topics'].str.len()!=0]

In [17]:
df1.shape

(4688, 6)

In [18]:
df1 = df.head(200)

In [19]:
df1.shape

(200, 6)

In [20]:
df1['content'] = df1['contents'].apply(preprocess)

C:\Users\KIRUBA\AppData\Local\Temp\ipykernel_21680\3720084743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['content'] = df1['contents'].apply(preprocess)

In [21]:
df1.head()

,id,title,contents,date,topics,components,content
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)],PORTLAND Oregon Mohamed Osman Mohamud 23 convi...
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division],WASHINGTON North Carolina Waccamaw River wa...
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division],BOSTON $ 1 million settlement reached n...
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division],WASHINGTON federal grand jury Las Vegas tod...
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division],U.S. Department Justice U.S. Environmental Pro...

In [22]:
df1.shape

(200, 7)

In [23]:
df1['contents'][1][:200]   # original text with stop words

'  WASHINGTON – North Carolina’s Waccamaw River watershed will benefit from a $1 million restitution order from a federal court, funding environmental projects to acquire and preserve wetlands in an ar'

In [24]:
df1['content'][1][:200]    # updated text , which does not contain stop words

'   WASHINGTON North Carolina Waccamaw River watershed benefit $ 1 million restitution order federal court funding environmental projects acquire preserve wetlands area damaged illegal releases wastewa'

# Exercise

In [25]:
text = '''
Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and 
distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).
The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,
Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),
Korg (Waititi), and Jane Foster (Portman)—who is now the Mighty Thor—to stop Gorr the God Butcher (Bale) from eliminating all gods.
'''
doc = nlp(text)
stop_word_count = 0
total_word_count = 0
for word in doc:
    if word.is_stop:
        stop_word_count += 1
        total_word_count += 1
    else:
        total_word_count += 1

percentage_of_stop_word = f'The given text contains {(stop_word_count/total_word_count)*100}%'
print(percentage_of_stop_word)
print("stop_word_count: ", stop_word_count)
print("total_word_count: ", total_word_count)

The given text contains 25.0%
stop_word_count:  40
total_word_count:  160

#### stack overflow reference link: https://stackoverflow.com/questions/41170726/add-remove-custom-stop-words-with-spacy

In [26]:
len(nlp.Defaults.stop_words)

326

In [31]:
nlp.Defaults.stop_words.remove('not')

TypeError: unsupported operand type(s) for -=: 'builtin_function_or_method' and 'set'

In [32]:
nlp.Defaults.stop_words -= {"n't"}

In [33]:
len(nlp.Defaults.stop_words)

324

In [34]:
text1 = 'this is a good movie'
text2 = 'this is not a good movie'
preprocess(text1)

'good movie'

In [35]:
preprocess(text2)

'good movie'

In [36]:
nlp.Defaults.stop_words

{"'d",
 "'ll",
 "'m",
 "'re",
 "'s",
 "'ve",
 'a',
 'about',
 'above',
 'across',
 'after',
 'afterwards',
 'again',
 'against',
 'all',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'although',
 'always',
 'am',
 'among',
 'amongst',
 'amount',
 'an',
 'and',
 'another',
 'any',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anywhere',
 'are',
 'around',
 'as',
 'at',
 'back',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'behind',
 'being',
 'below',
 'beside',
 'besides',
 'between',
 'beyond',
 'both',
 'bottom',
 'but',
 'by',
 'ca',
 'call',
 'can',
 'cannot',
 'could',
 'did',
 'do',
 'does',
 'doing',
 'done',
 'down',
 'due',
 'during',
 'each',
 'eight',
 'either',
 'eleven',
 'else',
 'elsewhere',
 'empty',
 'enough',
 'even',
 'ever',
 'every',
 'everyone',
 'everything',
 'everywhere',
 'except',
 'few',
 'fifteen',
 'fifty',
 'first',
 'five',
 'for',
 'former',
 'formerly',
 'forty',
 'four',
 'from',
 'front',
 'full',
 'further',
 'get',
 'give',
 'go',
 'had',
 'has',
 'have',
 'he',
 'hence',
 'her',
 'here',
 'hereafter',
 'hereby',
 'herein',
 'hereupon',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'however',
 'hundred',
 'i',
 'if',
 'in',
 'indeed',
 'into',
 'is',
 'it',
 'its',
 'itself',
 'just',
 'keep',
 'last',
 'latter',
 'latterly',
 'least',
 'less',
 'made',
 'make',
 'many',
 'may',
 'me',
 'meanwhile',
 'might',
 'mine',
 'more',
 'moreover',
 'most',
 'mostly',
 'move',
 'much',
 'must',
 'my',
 'myself',
 'name',
 'namely',
 'neither',
 'never',
 'nevertheless',
 'next',
 'nine',
 'no',
 'nobody',
 'none',
 'noone',
 'nor',
 'nothing',
 'now',
 'nowhere',
 'n‘t',
 'n’t',
 'of',
 'off',
 'often',
 'on',
 'once',
 'one',
 'only',
 'onto',
 'or',
 'other',
 'others',
 'otherwise',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'part',
 'per',
 'perhaps',
 'please',
 'put',
 'quite',
 'rather',
 're',
 'really',
 'regarding',
 'same',
 'say',
 'see',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'serious',
 'several',
 'she',
 'should',
 'show',
 'side',
 'since',
 'six',
 'sixty',
 'so',
 'some',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhere',
 'still',
 'such',
 'take',
 'ten',
 'than',
 'that',
 'the',
 'their',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'thereafter',
 'thereby',
 'therefore',
 'therein',
 'thereupon',
 'these',
 'they',
 'third',
 'this',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'to',
 'together',
 'too',
 'top',
 'toward',
 'towards',
 'twelve',
 'twenty',
 'two',
 'under',
 'unless',
 'until',
 'up',
 'upon',
 'us',
 'used',
 'using',
 'various',
 'very',
 'via',
 'was',
 'we',
 'well',
 'were',
 'what',
 'whatever',
 'when',
 'whence',
 'whenever',
 'where',
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 'whereupon',
 'wherever',
 'whether',
 'which',
 'while',
 'whither',
 'who',
 'whoever',
 'whole',
 'whom',
 'whose',
 'why',
 'will',
 'with',
 'within',
 'without',
 'would',
 'yet',
 'you',
 'your',
 'yours',
 'yourself',
 'yourselves',
 '‘d',
 '‘ll',
 '‘m',
 '‘re',
 '‘s',
 '‘ve',
 '’d',
 '’ll',
 '’m',
 '’re',
 '’s',
 '’ve'}

In [37]:
for i in nlp(text2):
    print(i.is_stop)

True
True
True
True
False
False

In [38]:
nlp.vocab['not'].is_stop = False

In [39]:
for i in nlp(text2):
    print(i.is_stop)

True
True
False
True
False
False

In [40]:
preprocess(text2)

'not good movie'

In [41]:
preprocess(text1)

'good movie'

In [82]:
text3 = ''' The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket.
It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test,
One Day International (ODI) and Twenty20 International (T20I) status. Cricket was introduced to India by British sailors in the 18th century, and the 
first cricket club was established in 1792. India's national cricket team played its first Test match on 25 June 1932 at Lord's, becoming the sixth team to be
granted test cricket status.
'''

doc = nlp(text3)
words = []
for i in doc:
    if i.is_stop or i.is_punct or i.is_space:
        continue
    else:
        words.append(i)
print(words)


word_count = {}
for word in words:
    # sen = word.strip().lower()
    if word.text.lower() not in word_count:
        word_count[word.text.lower()] = 1
    else:
        word_count[word.text.lower()] += 1

word_count

[India, men, national, cricket, team, known, Team, India, Men, Blue, represents, India, men, international, cricket, governed, Board, Control, Cricket, India, BCCI, Member, International, Cricket, Council, ICC, Test, Day, International, ODI, Twenty20, International, T20I, status, Cricket, introduced, India, British, sailors, 18th, century, cricket, club, established, 1792, India, national, cricket, team, played, Test, match, 25, June, 1932, Lord, sixth, team, granted, test, cricket, status]

{'india': 6,
 'men': 3,
 'national': 2,
 'cricket': 8,
 'team': 4,
 'known': 1,
 'blue': 1,
 'represents': 1,
 'international': 4,
 'governed': 1,
 'board': 1,
 'control': 1,
 'bcci': 1,
 'member': 1,
 'council': 1,
 'icc': 1,
 'test': 3,
 'day': 1,
 'odi': 1,
 'twenty20': 1,
 't20i': 1,
 'status': 2,
 'introduced': 1,
 'british': 1,
 'sailors': 1,
 '18th': 1,
 'century': 1,
 'club': 1,
 'established': 1,
 '1792': 1,
 'played': 1,
 'match': 1,
 '25': 1,
 'june': 1,
 '1932': 1,
 'lord': 1,
 'sixth': 1,
 'granted': 1}

In [83]:
list(word_count.values()).index(max(word_count.values()))

3

In [84]:
max_word_count = [(j, i) for i, j in word_count.items()]

In [93]:
max(max_word_count)

(8, 'cricket')

In [91]:
max_word_count

[(6, 'india'),
 (3, 'men'),
 (2, 'national'),
 (8, 'cricket'),
 (4, 'team'),
 (1, 'known'),
 (1, 'blue'),
 (1, 'represents'),
 (4, 'international'),
 (1, 'governed'),
 (1, 'board'),
 (1, 'control'),
 (1, 'bcci'),
 (1, 'member'),
 (1, 'council'),
 (1, 'icc'),
 (3, 'test'),
 (1, 'day'),
 (1, 'odi'),
 (1, 'twenty20'),
 (1, 't20i'),
 (2, 'status'),
 (1, 'introduced'),
 (1, 'british'),
 (1, 'sailors'),
 (1, '18th'),
 (1, 'century'),
 (1, 'club'),
 (1, 'established'),
 (1, '1792'),
 (1, 'played'),
 (1, 'match'),
 (1, '25'),
 (1, 'june'),
 (1, '1932'),
 (1, 'lord'),
 (1, 'sixth'),
 (1, 'granted')]